<section>
  <h3>A little about me</h3>
  <p>
      I study at Brigham Young University - Idaho, I am a software engineer with a focus on full stack development.
      In my educational career I have learned to write professional code, present myself in both a technical and professional setting,
      and work together with classmates to complete projects within deadlines. I have been fascinated with computers their 
      inner-workings since I was young. Often I found myself switching components in the computer to make it faster, 
      sometimes discovering that some of the components didn't make a difference. I later became interested in the software side of my computer;
      eventually, looking up how to learn to code on my own. It wasn't until college that I found a true passion for software development,
      more specifically web development.
  </p>
</section>