<div class="bg-light">
  <section class="about-me">
      <img id="about-img" src="../../assets/img/about-me.jpg" alt="Chandler Bailey" style="border-radius: 50%; height: 250px; width: 250px;">
      <hr>
      <p class="">My name is Chandler Bailey. I am a happy person who loves to make others smile. I’ve had a passion for nails ever since I was a little girl. I was finally able to make my dream a reality and made my love for nails into a career. When I’m not doing nails, I love spending time with my family. My husband and I enjoy spending lots of time together and loving our little dog Moose.
  NailsByBailey is a business that I started because I wanted to share my love of nails with others. We believe that getting your nails done should be an enjoyable experience and not something you dread. We work hard to make sure you are happy with the nails you receive. We specialize in nail art and designs.</p>
  </section>
</div>