<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Manicures
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Service</th>
                  <th scope="col">Description</th>
                  <th scope="col">Cost</th>
                  <th scope="col">Time</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                  <app-service-item
                  *ngFor="let service of services"
                  [service]="service">
                  </app-service-item>
              </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Pedicures
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Service</th>
                    <th scope="col">Description</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Time</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Gel nails</th>
                    <td>Gel finger nails</td>
                    <td>$12</td>
                    <td>15-25 mins</td>
                    <td><button>Schedule</button></td>
                  </tr>
                  <tr>
                    <th scope="row">Acryllic Nails</th>
                    <td>Acryllic finger nails</td>
                    <td>$15</td>
                    <td>25-40 mins</td>
                    <td><button>Schedule</button></td>
                  </tr>
                  <tr>
                      <th scope="row">Regular Nail Polish</th>
                      <td>Regular finger nail polish</td>
                      <td>$6</td>
                      <td>15 mins</td>
                      <td><button>Schedule</button></td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Full service
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Service</th>
                    <th scope="col">Description</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Time</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Gel nails</th>
                    <td>Gel finger nails</td>
                    <td>$12</td>
                    <td>15-25 mins</td>
                    <td><button>Schedule</button></td>
                  </tr>
                  <tr>
                    <th scope="row">Acryllic Nails</th>
                    <td>Acryllic finger nails</td>
                    <td>$15</td>
                    <td>25-40 mins</td>
                    <td><button>Schedule</button></td>
                  </tr>
                  <tr>
                      <th scope="row">Regular Nail Polish</th>
                      <td>Regular finger nail polish</td>
                      <td>$6</td>
                      <td>15 mins</td>
                      <td><button>Schedule</button></td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>