@import url("https://fonts.googleapis.com/css?family=Cabin|Montserrat");
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.active {
  background-color: grey;
  padding: 1.3rem 0;
}

.assign-page {
  width: 90%;
  height: auto;
}

.assign-page h1 {
  color: black;
}

#mainHeader {
  padding: 1rem 1.2rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  background-color: #2c3e50;
  margin: 0;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 1.3rem;
}

nav a:hover {
  background-color: white;
  color: #2c3e50;
}

.mast {
  background-color: #18bc9c;
  background-image: 
   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='176' height='308' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%232c3e50' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
   linear-gradient(to right, rgba(150,0,200, .8),  rgba(24,188,156, .7));
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  align-items: center;
}

img {
  height: 200px;
  border-radius: 50%;
}

div {
  color: white;
}

div h2 {
  font-weight: 600;
  font-size: 3rem;
  background-image: linear-gradient(to right,rgba(50, 60, 70, .8), rgba(25, 40, 60, .2));
}

section {
  padding: 6rem 0;
  width: 600px;
  margin: 0 auto;
  font-family: Cabin, sans-serif;
}

h3 {
  font-weight: 600px;
  font-size: 3rem;
}

p {
  text-align: left;
  font-size: 1.4rem;
}

#mainFooter {
  padding: 1rem 1.2rem;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  background-color: #2c3e50;
  color: white;
}

i {
  margin-right: 5px;
}

h3 {
  padding: 1rem;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

footer ul a {
  text-decoration: none;
  color: white;
  padding: 0.8rem;
  margin: 0;
}

footer ul a:hover {
  background-color: white;
  color: #2c3e50;
}
