<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class="body-center">
    <h2>Welcome to my assignment page!</h2>
    <ul>
      <li><a href="/week09.ejs">Week 09</a></li>
    </ul>
  </div>
</body>
</html>