<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Nails by Bailey</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5" id="saying">"Surround yourself with nail polish not negativity"</h2>
      <a href="#about" class="btn btn-primary js-scroll-trigger" routerLink="/services">View Services</a>
    </div>
  </div>
</header>

<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
  <div class="container">

    <!-- Featured Project Row -->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="../../assets/img/temp1.jpg" alt="">
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Services as low as $8</h4>
          <p class="text-black-50 mb-0">Why go and buy a bunch of nail polish and tools to get your nails done for one time, Come in and get professional nail services done for as low as $8</p>
        </div>
      </div>
    </div>

    <!-- Project One Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img class="img-fluid" src="../../assets/img/temp2.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <div class="bg-main2 text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Finals are coming!</h4>
              <p class="mb-0 text-white">Finals running you into the ground? Have a date coming up with that really cute guy? We can get you professional nails in a matter of minutes.</p>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Two Row -->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img class="img-fluid" src="../../assets/img/temp4.jpg" alt="">
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-main2 text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Test text</h4>
              <p class="mb-0 text-white">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
              <hr class="d-none d-lg-block mb-0 mr-0">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
